@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<p class="error" data-bind="text: error"></p>
        <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
    
    <div id="expensesWrap">
        <section>
            <div id="expenseReportsList" data-bind="visible: expenseReports().length > 0">
                <table>
                    <tbody data-bind="foreach: expenseReports">
                        <tr data-bind="click: $parent.getReport, attr: { expenseReportId: expenseReportId }" style="cursor:pointer" >
                            <td data-bind="text: name"></td>
                        </tr>
                    </tbody>
                </table>        
            </div>
        
        </section>
    
        <section>
            <div id="expensesList" data-bind="with:selectedReport">
                <table id="expensesTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: expenses()">
                        <tr data-bind="click: $parent.getExpense, attr: { expenseId: expenseId }" style="cursor:pointer" >
                            <td data-bind="text: displayDate"></td>
                            <td data-bind="text: description"></td>
                            <td data-bind="text: amount"></td>
                        </tr>
                    </tbody>
                </table>
                <form data-bind="submit: addExpense">
                    <input class="addExpense" type="text" data-bind="value: selectedExpense.name, placeholder: 'Type here to add', blurOnEnter: true, event: { blur: addExpense }" />
                </form>
            </div>
        </section>
        
        
        <section data-bind="with: selectedReport">
            <div id="expenseDetails" data-bind="visible: selectedExpense() != null, with: selectedExpense ">
                <label for="expenseDate">Date:</label>
                <input id="expenseDate" type="text" class="expenseInput" data-bind="datepicker: date, datepickerOptions: {dateFormat: 'DD, d MM, yy'}, blurOnEnter: true, event: { blur: $parent.addExpense }" />
                <label>Description:</label>
                <input type="text" class="expenseInput" data-bind="value: description, placeholder: 'Type Expense Name', blurOnEnter: true, event: { blur: $parent.addExpense }" />
                <label>Currency</label>
                <select data-bind="options: $root.currencies, optionsText: 'code', optionsValue: 'currencyId', value: currencyId"></select>
                <br />
                <label>Amount</label>
                <input type="text" class="expenseInput" data-bind="value: amount, blurOnEnter: true, event: { blur: $parent.addExpense }" />
                <label>Type</label>
                <select data-bind="options: $root.expenseTypes, optionsText: 'code', optionsValue: 'expenseTypeId', value: typeId"></select>
                <img data-bind="attr: { src: image }" alt="Expense image" />
                <a href="#">
                    <span class="uploadImageLink">
                        <i>Upload Image</i>
                    </span>
                </a>
            </div>
        </section>
        
        
    </div>