@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}


<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />

<div id="expensesWrap" class="row-fluid">
    <p class="error" data-bind="text: error"></p>
    <section>
        <div id="expenseReportsList" class="span3" data-bind="visible: expenseReports().length > 0">
            <ul data-bind="foreach: expenseReports">
                <li data-bind="click: $parent.getReport, attr: { expenseReportId: expenseReportId }" style="cursor: pointer">
                    <i class="icon-folder-open"></i>
                    <span data-bind="text: name"></span>
                </li>
            </ul>
        </div>

    </section>

    <section>
        <div id="expensesList" class="span9" data-bind="with: selectedReport">
            <div data-bind="fadeSwitcher: reportVisible">
                <div id="reportMenu">
                    <a class="icon-plus" href="#" title="New Expense" data-bind="click: newExpense"></a>
                    <!-- ko ifnot isSubmitted -->
                    <a class="icon-share-alt" href="#" title="Submit" data-bind="click: submit" ></a>
                    <!-- /ko -->
                </div>
                <table id="expensesTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: expenses()">
                        <tr data-bind="click: $parent.getExpenseImage" style="cursor: pointer">
                            <td data-bind="text: displayDate"></td>
                            <td data-bind="text: description"></td>
                            <td data-bind="text: typeId"></td>
                            <td data-bind="text: baseAmount"></td>
                            <td><a href="#" class="icon-trash" data-bind="click: $parent.deleteExpense, clickBubble: false"></a></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Grand Total:</th>
                            <th></th>
                            <th><span data-bind='text: baseTotal()'></span></th>
                            <th></th>
                        </tr>
                    </tfoot>

                </table>
                
                
                 
            </div>

            <div data-bind="with: selectedExpense, visible: selectedExpense()">
                <div id="expenseDetails">
                    <form name="imageForm" id="imageForm" class="form-horizontal" method="post" enctype="multipart/form-data" action="api/ExpenseImage">
                    
                        <div class="control-group">
                            <div class="controls">
                                <a href="#" class="btn btn-primary" data-bind="click: $parent.done">Back</a>
                            </div>
                        </div>
                    
                        <div class="control-group">
                            <label for="expenseDate" class="control-label">Date:</label>
                            <div class="controls">
                                <input id="expenseDate" type="text" data-bind="datepicker: date, datepickerOptions: { dateFormat: 'DD, d MM, yy' }, blurOnEnter: true, event: { blur: $parent.addExpense }" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Description:</label>
                            <div class="controls">
                                <input type="text" data-bind="value: description, placeholder: 'Type Expense Name', blurOnEnter: true" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Currency</label>
                            <div class="controls">
                                <select data-bind="options: $root.currencies, optionsText: 'code', optionsValue: 'currencyId', value: currencyId"></select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Amount</label>
                            <div class="controls">
                                <input type="text" data-bind="value: amount, blurOnEnter: true" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Type</label>
                            <div class="controls">
                                <select data-bind="options: $root.expenseTypes, optionsText: 'code', optionsValue: 'expenseTypeId', value: typeId"></select>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls" data-bind="if: image">
                                <img class="img-rounded  thumb" data-bind="attr: { src: imageSrc }" alt="Expense image" />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="file" accept="image/*" name="expenseImage" title="Change Image" 
                                       data-bind="file: imageFile, fileObjectURL: imageObjectURL, imageBase64: image, imageType: imageType" />
                            </div>
                        </div>
                    
                                    
                

                    
                    

                        <p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

