/*TODO: Style */

#expensesWrap {
    width: 950px;
    margin: 0 auto;
}

#expenseReportsList {
    float: left;
    width: 150px;
}

#expensesList {
    float: left;
    width: 500px;
}

#expenseDetails {
    float: left;
    width: 300px;
    background-color:#ffd800;
}