/*TODO: Style */

/*#expensesWrap {
    width: 950px;
    margin: 0 auto;
}

#expenseReportsList {
    float: left;
    width: 130px;
    -moz-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    background-color: #ffc;
    margin: 10px;
    font-size: 0.8em;
}

#expensesList {
    float: left;
    width: 480px;
    -moz-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    background-color: #ffc;
    margin: 10px;
    font-size: 0.8em;
}


#expensesTable th  {
   text-align: left;
}

.expensesList input[type=text], .addExpense {
    width: 200px;
    border: none;
    background: none;
}

.todoList input[disabled] {
    color: #666;
    text-decoration: line-through;
}

.expensesList a {
    color: silver;
    text-decoration: none;
    font: .8em verdana;
}

.addExpense {
    padding: 0;
    margin-left: 25px;
    display: block;
    color: #999;
}



input {
    font-size: 0.8em;
}

.uploadImageLink {
    background-image:url('../Images/uploadLink.png');
    display: block;
    width: 170px;
    background-repeat: no-repeat;
    
}

#expenseDetails {
    padding: 10px;
}

#expenseDetails label {
    font: bold;
}

#expenseDetails img {
    width : 200px;
    height: 200px;
}

img.thumb {
    max-width: 200px;
    max-height: 200px;
}

#expenseDetails input {
    outline: none;
    border: none;
    background: none;
    font-size: 0.8em;
}*/
